<div class="main-container" ng-controller = 'profileCtrl'>
    <div class="blind-container">.</div>
    <div class="left-container">
        <img id="profile-picture" src="img/profilePicture.jpg">
        <h3>Valakineka Neveleszit</h3>
        <div id="rate">
            <rating-stars></rating-stars>

        </div>
        <div id="contact-infos">
            <p>Email@cimem.com</p>
            <p>01-23-456-6789</p>
        </div>
        <div>
            <h4>Autók és férőhely:</h4>
            <p class="white-font">Ford fiesta, 5 hely</p>
        </div>
    </div>

    <div class="right-container">
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
    </div>

</div>