<div class="main-container" ng-controller = 'profileCtrl'>
    <div class="blind-container">.</div>
    <div class="left-container">
        <img id="profile-picture" src="img/profilesample.jpg">
        <p id="pname"> {{ inUser.name }} </p>
        <button ng-click="changeEditing()" ng-show="!onEdit">Edit</button>

        <!--<div id="rate">-->
            <!--<rating-stars></rating-stars>-->
        <!--</div>-->
        <div id="contact-infos">
            <p ng-show="!onEdit"><img src="img/mail.png" class="icon"/> {{ inUser.email }}</p>
            <p ng-show="onEdit"><img src="img/mail.png" class="icon"/>
                <input ng-model="inUser.email" type="email"/>
            </p>
            <p ng-show="!onEdit"><img src="img/Phone.png" class="icon"/> {{ inUser.phoneNumber }}</p>
            <p ng-show="onEdit"><img src="img/Phone.png" class="icon"/>
                <input type="tel" ng-model="inUser.phone"/>
            </p>
        </div>
        <div>
            <p id="pcar">Autók és férőhely:</p>
            <p class="white-font" ng-show="!onEdit"> {{ inUser.car }} </p>
            <p class="white-font" ng-show="onEdit">
                <input ng-model="inUser.car" type="text">
            </p>
        </div>
        <button ng-click="editUser()" ng-show="onEdit">save</button>
    </div>

    <div class="right-container">
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
    </div>


</div>

