<div class="main-container" ng-controller = 'profileCtrl'>
    <div class="blind-container">.</div>
    <div class="left-container">
        <img id="profile-picture" src="img/profilesample.jpg">
        <p id="pname"> {{ inUser.name }} </p>
        <!--<div id="rate">-->
            <!--<rating-stars></rating-stars>-->
        <!--</div>-->
        <div id="contact-infos">
            <p><img src="img/mail.png" class="icon"/> {{ inUser.email }}</p>
            <p><img src="img/Phone.png" class="icon"/> 01-23-456-6789</p>
        </div>
        <div>
            <p id="pcar">Autók és férőhely:</p>
            <p class="white-font">Ford fiesta, 5 hely</p>
        </div>
    </div>

    <div class="right-container">
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
        <div class="endorsment">
            <p><strong>Azaki Adja</strong></p>
            <p>Some rate or endrorsements </br> It will look beautifull once...</p>
        </div>
    </div>


</div>

