@font-face {
    font-family: "Varela Round";
    src:url("../fonts/VarelaRound-Regular.otf") format("truetype");
}

body {
    font-family: Helvetica;
    text-align: center;
    background-image: url(../img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #37474F;
    margin: 0 auto;
    owerflow: hidden;
}

#logo {
    margin-top: 50px;
    margin-bottom: 15px;
    width: auto;
    height: 150px;
}

h1 {
    color: #FFEB3B;
    margin-top: 50px;
    font-size: 70px;
}

h2 {
    color: #FFEB3B;
    margin-top: 0;
    font-size: 30px;
}

h3 {
    color: #FFEB3B;
    margin-top: 5%;
    margin-bottom: 4px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;

}

h4 {
    color: #FFEB3B;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

a{
    color:#FFEB3B;
    outline: 0 !important;
}

#text {
    color: darkgray;
    margin: 0 auto;
    margin-top: -10px;
    font-family: Helvetica;
    text-align: center;
    width: 360px;
    font-size: 14px;
}

.password {
    -webkit-text-security:disc !important;
    -moz-text-security:disc !important;
    -o-text-security: disc !important;
    text-security:disc !important;
    -webkit-text-fill-color: goldenrod;
}

.actions {
    display: inline-block;
    font-size: 18px;
    background-color: #FFEB3B;
    color: #37474F;
    height: 40px;
    width: 230px;
    outline: 0 !important;
    margin: 0 auto;
    float: left;
    box-shadow: none;
    appearance: none;
    border: none;
    text-shadow: -1px 2px gold;
}

#log:hover {
    background-color: gold;
    text-shadow: -1px 2px #FFEB3B;
}

#regbutton {
    border-radius: 5px;
    margin-bottom: 10px;
}

#regbutton:hover {
    background-color: gold;
    text-shadow: -1px 2px goldenrod;

    color: white;
}

#reg:hover {
    background-color: gold;
    text-shadow: -1px 2px #FFEB3B;
}


.formbox {
    text-align: center;
    height: auto;
    width: 428px;
    margin: 0 auto;
    background-color: #FAFAFA;
    border-radius: 3px;
    margin-top: 0px;

}

.regformbox {
    text-align: center;
    height: auto;
    width: 428px;
    margin: 0 auto;
    background-color: #FAFAFA;
    border-radius: 3px;
    margin-top: 0px;
}

.formbox p {
    color: darkgray;
    font-size: 12px;
    padding: 30px 30px 0px 30px;
    margin-top: -50px;
}

.formbox button {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
    background-color: #FFEB3B;
    color: #37474F;
    height: 40px;
    width: 200px;
    outline: 0 !important;
    margin: 0 auto;
    margin-top: 15px;
    border: none;
    text-shadow: -1px 2px gold;
}

p.errormessage{
    color: #FF9800;
    font-size: 16px;
}

p.loginError{
    color: #FF9800;
    font-size: 10px;
}

input[type=text] {
    width: 80%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    color: #37474F;
    border-bottom: 1px solid gold;
    outline: 0 !important;
}

input[type=email] {
    width: 80%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    color: #37474F;
    border-bottom: 1px solid gold;
    outline: 0 !important;
}

.errormessage p {
    text-transform: uppercase;
    color: #FF9800;
    float: right;
    margin-right: 25px;
    padding: 11px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: goldenrod;
    opacity: 0.5;
    font-size: 16px;
}

.navbutton {
    display: inline-block;
    margin-left: 0px;
    padding: 0px;
}

@media screen and (max-width: 768px) {
   #logo{
       height: 150px;
       width: auto;
    }
    .formbox {
        background-color: transparent;
    }

    input[type=text] {
        width: 98%;
        height: 50px;
        padding: 8px 20px;
        margin: 0px 0;
        box-sizing: border-box;
        border: none;
        background-color: #FAFAFA;
        color: #37474F;
        border-bottom: 1px solid gold;
        outline: 0 !important;
        text-align: center;
    }

    input[type=email] {
        width: 98%;
        height: 50px;
        padding: 8px 20px;
        margin: 5px auto;
        box-sizing: border-box;
        border: none;
        background-color: #FAFAFA;
        color: #37474F;
        border-bottom: 1px solid gold;
        outline: 0 !important;
        text-align: center;
    }

    #regbutton {
        float: none;
        width: 90%;
        height: 50px;
        margin-top: 50px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .formbox button {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 16px;
        background-color: #FFEB3B;
        color: #37474F;
        height: 40px;
        width: 205px;
        outline: 0 !important;
        margin: 0 auto;
        margin-top: 15px;
        border: none;
        text-shadow: -1px 2px gold;
        border-radius: 2px;
        margin-left: 5px;
    }

    .regformbox {
        margin-top: 5px;
        background-color: transparent;
    }



}